*.dwg
*.dxf
*.bak
hwt9053_angle/node_modules
hwt9053_angle/env*
圖檔
config.json
mbim_start_connect.service.txt
Status_led.service.txt
ntp_setting.txt
reset_time_on_boot.service.txt
tcp.py
維興傾度盤使用手冊.docx